html {
  scroll-behavior: smooth;
}

nav {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 100%;
}

nav .brand-logo {
  color: #0a245f !important;
  font-size: 16px !important;
  margin-left: 10px;
}

nav .sidenav-trigger i {
  color: #0a245f !important;
}

nav .nav-wrapper {
  background-color: white !important;
}

nav .nav-con {
  margin-left: 100px !important;
}

nav .nav-con a {
  color: #0a245f !important;
  font-size: 16px !important;
  padding-left: 35px !important;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .nav-con a:hover {
  background-color: white !important;
  color: #699dee !important;
}

.container {
  width: 90%;
}

.container .pic1 {
  width: 55%;
  position: absolute;
  right: 0;
  top: 0;
}

.container #last-pro {
  background-color: none !important;
}

.container .intro-text {
  position: relative;
  left: 60px;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  font-size: 22px;
  color: #0a245f;
}

.container .intro-text p:nth-child(2) {
  margin-top: 30px;
  margin-left: 25px;
}

.container .intro-text p:nth-child(3) {
  margin-left: 25px;
  margin-bottom: 40px;
}

.container .intro-text p:nth-child(4) {
  margin-left: 70px;
}

.container .intro-text p:nth-child(4) i {
  color: #ecad1a;
  font-weight: bold;
}

.container .intro-text p:nth-child(4) i u {
  text-decoration: underline;
  -webkit-text-decoration-color: #707d9b;
          text-decoration-color: #707d9b;
}

.container #intro-btn {
  background-color: #ecad1a !important;
  border-radius: 18px !important;
  margin: 160px;
  position: relative;
  left: 70px;
}

.container .sm-icon {
  position: absolute;
  left: 20px;
  top: 450px;
}

.container .sm-icon li {
  cursor: pointer;
  padding: 5px;
}

.container .sm-icon li img {
  width: 35px;
  height: 35px;
}

.container #aboutUs {
  margin-top: 30px;
}

.container #aboutUs .header {
  height: 65px;
  width: 215px;
  background-color: #0a245f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 0;
}

.container #aboutUs .header p {
  color: white;
  font-size: 22px;
  margin: 16px 35px;
}

.container #aboutUs .row {
  text-align: center;
  width: 100%;
  position: relative;
  top: 100px;
}

.container #aboutUs .row .pic2 img {
  width: 80%;
  height: 80%;
  margin: -10px -120px;
}

.container #aboutUs .aboutUs-text {
  margin-top: 80px;
}

.container #aboutUs .aboutUs-text p {
  font-size: 23px;
  color: #0a245f;
}

.container #our-team {
  margin-top: 170px;
}

.container #our-team .header {
  height: 65px;
  width: 215px;
  background-color: #0a245f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 0;
}

.container #our-team .header p {
  color: white;
  font-size: 22px;
  margin: 16px 35px;
}

.container #our-team .bio {
  position: relative;
  top: 100px;
  text-align: center;
}

.container #our-team .bio img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.container #our-team .bio ul {
  color: #0a245f;
}

.container #our-team .bio ul li {
  padding-bottom: 12px;
}

.container #our-team .bio ul li:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}

.container #our-team .bio ul li ul li {
  display: inline-block;
  padding: 3px;
}

.container #our-team .bio ul li ul li img {
  height: 30px;
  width: 30px;
}

.container #contactUs {
  margin-top: 120px;
}

.container #contactUs .col {
  margin-top: 50px;
}

.container #contactUs .header {
  height: 65px;
  width: 215px;
  background-color: #0a245f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 0;
}

.container #contactUs .header p {
  color: white;
  font-size: 22px;
  margin: 16px 35px;
}

.container #contactUs .row {
  text-align: center;
  position: relative;
  top: 100px;
}

.container #contactUs .row .contact-text {
  color: #0a245f;
}

.container #contactUs .row .contact-text p:nth-child(1) {
  font-size: 20px;
}

.container #contactUs .row .contact-text p:nth-child(3) {
  font-size: 16px;
}

.container #contactUs .row .contact-text ul li {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.container #contactUs .contact-form {
  text-align: left;
}

.container #contactUs .contact-form input, .container #contactUs .contact-form textarea {
  padding-left: 10px;
  border: 1px solid #ecad1a !important;
  border-radius: 12px !important;
  width: 400px;
  outline: none !important;
}

.container #contactUs .contact-form input:focus, .container #contactUs .contact-form textarea:focus {
  border-color: #ecad1a !important;
  -webkit-box-shadow: 0 0 0 0 white !important;
          box-shadow: 0 0 0 0 white !important;
}

.container #contactUs .contact-form #textarea2 {
  min-height: 200px;
  min-width: 413px;
}

.container #contactUs .contact-form label {
  padding: 0 6px 0 6px;
  margin-left: 12px;
  background-color: white;
  color: #0a245f;
}

.container #contactUs #contact-btn {
  background-color: #ecad1a;
  border-radius: 18px !important;
  margin-left: 170px;
  width: 100px;
}

.container #jumpToTop a {
  background-color: #ecad1a !important;
  opacity: 0.9;
}

.container #jumpToTop a i {
  font-size: 35px;
}

footer {
  background-color: #0a245f;
  position: relative;
  top: 140px;
  min-height: 50px;
  text-align: center;
}

footer p {
  color: white;
  font-size: 18px;
  position: relative;
  top: 10px;
}

.fade {
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
/*# sourceMappingURL=main.css.map */