@font-face {
  font-family: 'gilroy';
  src: url("../fonts/gilroy-medium-webfont.woff2") format("woff2"), url("../fonts/gilroy-medium-webfont.woff") format("woff"), url("../fonts/gilroy-medium-webfont.ttf") format("ttf");
}

@font-face {
  font-family: 'aldrich';
  src: url("../fonts/Aldrich-Regular.woff2") format("woff2"), url("../fonts/Aldrich-Regular.woff") format("woff"), url("../fonts/Aldrich-Regular.ttf") format("ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'aldrich';
  width: 100%;
}

#top-section {
  width: 100%;
}

#top-section .main {
  width: 100%;
  height: 670px;
  background: linear-gradient(130deg, #bd7937, #939ecc, #bd7937, #939ecc);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 32s ease infinite;
  animation: AnimationName 32s ease infinite;
}

#top-section .main .contents {
  position: absolute;
  top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top-section .main .contents .context {
  text-align: center;
  color: #0a245f;
}

#top-section .main .contents .context img {
  width: 280px;
  height: 280px;
}

#top-section .main .contents .context p {
  padding-top: 0;
}

#top-section .main .contents .context h4 {
  font-weight: bold;
}

#top-section .main .contents .context h3 {
  color: rgba(50, 66, 107, 0.712);
  font-weight: bold;
}

#top-section .main .contents .sm-icon {
  padding-top: 30px;
}

#top-section .main .contents .sm-icon a {
  cursor: pointer;
  padding: 25px;
  display: inline-block;
}

#top-section .main .contents .sm-icon a img {
  width: 40px;
  height: 40px;
}

#top-section .main .contents .sm-icon a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 99%;
  }
  50% {
    background-position: 100% 2%;
  }
  100% {
    background-position: 0% 99%;
  }
}

.contents {
  position: absolute;
  top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents .context {
  text-align: center;
  color: #0a245f;
}

.contents .context img {
  width: 280px;
  height: 280px;
}

.contents .context p {
  padding-top: 3px;
}

.contents .sm-icon ul li {
  cursor: pointer;
  padding: 25px;
  display: inline-block;
}

.contents .sm-icon ul li img {
  width: 38px;
  height: 38px;
}

#our-team .profile {
  margin-top: 70px;
  text-align: center;
  border-top: 2px solid #0a245f;
}

#our-team .profile .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -42px;
  width: 100%;
}

#our-team .profile .header span {
  padding: 20px;
  font-size: 25px;
  color: #0a245f;
  background-color: white;
  font-weight: bold;
}

#our-team .profile img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

#our-team .profile ul li {
  padding-bottom: 12px;
  font-weight: bold;
  color: rgba(50, 66, 107, 0.712);
}

#our-team .profile ul li:nth-child(2) {
  font-size: 16px;
  color: #0a245f;
}

#our-team .profile ul li ul li {
  display: inline-block;
  padding: 3px;
}

#our-team .profile ul li ul li img {
  height: 30px;
  width: 30px;
}

#jumpToTop a {
  background-color: #f16601 !important;
  opacity: 0.9;
}

#jumpToTop a i {
  font-size: 35px;
}

footer {
  background-color: #0a245f;
  min-height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  color: white;
  font-size: 18px;
}

.fade {
  opacity: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.cta-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-secion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-secion p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0a245f;
}

.mail-secion p i {
  margin-right: 5px;
}

.top-section {
  position: relative;
  height: 90vh;
}

@media only screen and (max-width: 411px) {
  #top-section .main .contents .context {
    text-align: center;
    color: #0a245f;
  }
  #top-section .main .contents .context img {
    width: 200px;
    height: 200px;
  }
  #top-section .main .contents .context h4 {
    font-size: 26px;
  }
  #top-section .main .contents .context h3 {
    font-size: 33px;
  }
}

#our-team .profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */