$main_text_color1: #1D3557;
$main_text_color2: #F26419;
$main_text_color3: #33658A;
$main_text_color4: rgb(172, 182, 204);

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
        url('../fonts/gilroy-medium-webfont.woff') format('woff'),
        url('../fonts/gilroy-medium-webfont.ttf') format('ttf');

}
@font-face {
    font-family: 'aldrich';
    src: url('../fonts/Aldrich-Regular.woff2') format('woff2'),
        url('../fonts/Aldrich-Regular.woff') format('woff'),
        url('../fonts/Aldrich-Regular.ttf') format('ttf');

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'gilroy';
    width: 100%;
}



#top-section{
    width: 100%;
    
    .main {
        width: 100%;
        height: 670px;
        

        @keyframes move_wave {
            0% {
                transform: translateX(0) translateZ(0) scaleY(1)
            }
            50% {
                transform: translateX(-25%) translateZ(0) scaleY(0.55)
            }
            100% {
                transform: translateX(-50%) translateZ(0) scaleY(1)
            }
        }
        .waveWrapper {
            overflow: hidden;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            min-height: 670px;
        }
        .waveWrapperInner {
            position: absolute;
            width: 100%;
            overflow: hidden;
            height: 100%;
            top:0;
            bottom: -1px;
            background-color: rgb(172, 182, 204);
        }
        .bgTop {
            z-index: 15;
            opacity: 0.5;
        }
        .bgMiddle {
            z-index: 10;
            opacity: 0.75;
        }
        .bgBottom {
            z-index: 5;
        }
        .wave {
            position: absolute;
            left: 0;
            width: 200%;
            height: 100%;
            background-repeat: repeat no-repeat;
            background-position: 0 bottom;
            transform-origin: center bottom;
        }
        .waveTop {
            background-size: 50% 100px;
        }
        .waveAnimation .waveTop {
          animation: move-wave 3s;
           -webkit-animation: move-wave 3s;
           -webkit-animation-delay: 1s;
           animation-delay: 1s;
        }
        .waveMiddle {
            background-size: 50% 120px;
        }
        .waveAnimation .waveMiddle {
            animation: move_wave 10s linear infinite;
        }
        .waveBottom {
            background-size: 50% 100px;
        }
        .waveAnimation .waveBottom {
            animation: move_wave 15s linear infinite;
        }
       
        .contents{
            position: absolute;
            top:20px;
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 1000;

            .bg{
                margin-top: -20px;
                background-image: url('Img/bg3.png'); 
                width:100%; 
                height: 580px; 
                background-size: cover;
            }            
    
            .context{
                img{
                    width: 250px;
                    height: 250px;
                }
                margin-top: 20px;
                text-align: center;
                color: $main_text_color1;
                
                p{
                    padding-top: 0px;
                }

                h4{
                    font-weight: bold;
                }

                .typed-cursor{
                    display: none;
                }
            }
    
            .sm-icon {
                padding-top: 12px;
                margin-left: -10px;
                ul{
                    li{
                        cursor: pointer;
                        padding: 15px;
                        display: inline-block;
            
                        img {
                            width: 35px;
                            height: 35px;

                            &:hover{
                                transform: scale(1.2);
                                transition: 0.1s linear;
                            }
                        }
                    }
                }
            }  
        }
    }
}

#our-team { 
    display: flex;
    justify-content: center;

    .profiles {
        margin-top: 70px;
        text-align: center;
        border-top: 1px solid #33658A;
        width: 90%;
        padding: 50px;
        

        .header{
            display: flex;
            justify-content: flex-end;
            margin-top: -100px;
            width: 100%;
    
            span{
                padding: 27px;
                font-size: 25px;
                color: $main_text_color3;
                background-color: white;
            }
        }

        .profile{
            width: 280px;
            text-align: left; 
        }

        .col{
            display: flex;
            justify-content: center;

            h5{
                color: $main_text_color1;
                font-size: 22px;
            }

            p{
                color: $main_text_color3;
                font-size: 16px;
                list-style: none;
            }

            .card-action{
                padding: 0px 20px;
                text-align: center;
                ul{
                    li{
                        display: inline-block;
    
                        img{
                            width: 25px;
                            height: 25px;
                        }

                        &:hover{
                            transform: scale(1.2);
                            transition: 0.1s;
                        }
                    } 
                }
            }
                 
        }
    }
}

#jumpToTop {
    a {
        background-color: $main_text_color2 !important;
        opacity: 0.9;


        i {
            font-size: 35px;
        }
    }
}


footer {
    background-color: $main_text_color4;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    

    p {
        color: $main_text_color1;
        font-size: 18px;
    }
}

.fade {
    opacity: 0;
    transition: 0.4s linear;
}

@media only screen and(max-width: 768px) {
    
}